
.tableStyle {
    padding-bottom: 2rem;
}

.buttonStyle {
    position: relative;
    text-align: center;
    margin-bottom: 1.4rem;
}

.centerCalendar {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

.spinnerStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 330px;

}

@media screen and (min-width: 600px) and (max-width: 1025px) {
    .columns {
    flex-direction: column;
    align-items: center;
    }
} 

/* overriding Bulma and Mui default styles */

.container {
    min-height: 68vh;
}

.footer {
    padding: 2rem;
    margin-top: 2rem;
}

strong {
    color:#cc0f35;
}

a {
    color: #363636;
}

.navbar.has-shadow {
    box-shadow: 0 0.5em 0.5em -0.125em rgb(10 10 10 / 5%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.MuiSvgIcon-colorPrimary {
    color:#cc0f35 !important;
}

.MuiCircularProgress-colorPrimary {
    color:#cc0f35 !important;
}

.MuiSvgIcon-fontSizeSmall {
    font-size: 1rem !important;
}